
html, body { 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; 
}

.btn {
  width: 45px;
  height: 45px;
  background: #ff0000;
  border-radius: 50%;
  box-shadow: 0 0 .75em 0 #ff0000,
        inset 0 0 .75em 0 #ff0000,
        0 0 .1em .05em var(--color-text),
        inset 0 0 .1em .05em var(--color-text);
}


:root {
    --color-text: #ffeeff;
    --color-neon: #ff00ff;